<%- include('Header') %>

<div class="middle">
    This is about page
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique exercitationem expedita aperiam cumque tempora consectetur fugit, delectus animi minus omnis culpa, corporis voluptatum. Ratione harum velit autem tempora maiores suscipit rerum veritatis possimus. Odio necessitatibus cum vero maiores optio distinctio ratione sit sunt veniam temporibus illum consequuntur dolore, ducimus repellat dolores, ipsam commodi? Fuga, consequuntur ex. Sint assumenda laudantium placeat suscipit doloribus vero dolore provident, ipsam pariatur optio est labore unde magni a nesciunt consequatur veniam voluptatibus dolorem. Fuga, fugit labore! Harum, magnam quibusdam magni rerum ipsa obcaecati nulla odit nobis neque mollitia enim quisquam itaque at, autem nam laborum?
</div>

<%- include('Footer') %>