<%- include ('Header') %> 

<div class="middle">
    <h1>Contact Us</h1>
    <p>Feel free to contact us</p>
    <p>Phone: 123-456-7890</p>
    <p>Email: abc@gmail.com</p>
</div>

<%- include ('Footer') %>
